# PostgreSQL
POSTGRES_USER=sgep
POSTGRES_PASSWORD=sgep_dev_password
POSTGRES_DB=sgep_db
POSTGRES_PORT=5432

# Redis
REDIS_PORT=6379

# MinIO
MINIO_ROOT_USER=sgep_minio
MINIO_ROOT_PASSWORD=sgep_minio_password
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_BUCKET=sgep-files

# API
API_PORT=8000
SECRET_KEY=changez-moi-en-production-utiliser-une-cle-secrete-longue
ENVIRONMENT=development
CORS_ORIGINS=http://localhost:3000

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000
